@import '../../scss/variables';

.header{
    display:flex;
    justify-content: center;
    align-items: center;
    
    min-height:10rem;

    background: $color-1;
    color: $color-2;
    .header__title{
        color: lighten($color-1,25%);
    }
}