// layout based on two colors
// https://2colors.colorion.co/
$color-1: #1f2542;
$color-2: #fdfdfd;

$font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;;
$fontSize: 16px; /* The character count on */
$lineHeight: $fontSize * 1.5;
$letterSpacing: $fontSize * 0.03;
$fontWeight: 300;

%scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: $color-2;
  }
  &::-webkit-scrollbar-thumb {
    background: $color-1;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: darken($color-2, 5%);
  }
}
